/* Body ayarları */
body {
    background-color: #fafafa;
    padding-top: 85px; /* Navbar'ın altında kalmaması için */
}

/* Navbar ayarları */
nav.navbar {
    height: 54px;
    z-index: 1000;
}

/* Logo Margin (400px soldan margin) */
.logo-margin {
    margin-left: 440px;
}


/* Arama Input Özelleştirmesi */
.search-input {
    text-align:center;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    height: 28px;
    font-size: 16px;
    width: 215px;
}

/* Placeholder İkonu */
.search-input::placeholder {
    background-image: url('https://cdn-icons-png.flaticon.com/512/54/54481.png'); 
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 70px center;
    text-align: center;
    color: #aeaeae;
    font-size: 14px;
}

.search-container {
    position: absolute; /* Bağımsız hareket etmesini sağlar */
    left:53%;          /* Soldan %50 iter */
    transform: translateX(-50%); /* Kendi boyutunun yarısı kadar geri çeker (Tam ortalar) */
    text-align: center;
}

/* Sticky Sidebar Ayarları */
/* Postların üzerine binmemesi için 'left' değeri 60% yapıldı */
.stickysidebar {
    position: fixed;
    top: 84px;
    left:60%; 
    width: 290px;
}

/* Rightpanel Arkaplan */
.rightpanel {
    background-color: transparent;
    border: none;
}

/* Card Renk Ayarları */
.card-header, .card-footer {
    background-color: #fff !important;
}

/* Link Alt Çizgi Kaldırma */
a {
    text-decoration: none !important;
}

/* Küçük Ekran Ayarları */
@media (max-width: 992px) {
    .logo-margin {
        margin-left: 0;
    }
    .stickysidebar {
        display: none; /* Tablet modunda sidebar gizlensin */
    }
}